@using  AspCore.DataLibrary
@model User
@{
    ViewData["Title"] = "Home Page";

}

<div id="myCarouse" class="carousel slide" data-ride="carousel" data-interval="6000">
    hello
    @Html.TextBoxFor(model => model.Id, new { @class = "layui-input", autocomplete = "off", style = "width:200px;" })
    @Html.TextBoxFor(model => model.Name, new { @class = "layui-input", autocomplete = "off", style = "width:200px;" })
</div>
